{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Socials</title>
    <link rel="icon" type="icon" href="{% static 'favicon.ico' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'Blog/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap"
    rel="stylesheet"
  />
  <script src="https://kit.fontawesome.com/cda2a0f3cd.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
  </head>
  <body>
    {% csrf_token %}
    {% if request.user.is_authenticated %}
      <nav class="navvbar">
        <ul class="navvbar-navv">
          <li class="logo">
            <a href="#" class="navv-link">
              <span class="link-text logo-text">Lirix</span>
              <i class="bx bxs-planet" id="btn"></i>
            </a>
          </li>

          <li class="navv-item">
            <a id="profile_button" href="{% url 'Profile' request.user.id %}" class="navv-link profile_page">
              <i class="bx bxs-notification profile_page" id="btn" href="{% url 'Profile' request.user.id %}"></i>
              <span class="link-text">Profile</span>
            </a>
          </li>
    
          <li class="navv-item">
            <a id="home_button" href="{% url 'Poetry' %}" class="navv-link home_page">
              <i class="bx bxs-home home_page" id="btn" href="{% url 'Poetry' %}"></i>
              <span class="link-text">Home</span>
            </a>
          </li>
    
          <li class="navv-item">
            <dialog class="post-add-popup" style="border: none;"></dialog>
            <a id="post_create_button" href="{% url 'PoetryCreate' %}" class="navv-link post_create_page">
              <i class="bx bxs-image-add post_create_page" id="btn" href="{% url 'PoetryCreate' %}"></i>
              <span class="link-text">Post</span>
            </a>
          </li>
    
          <li class="navv-item">
            <a href="{% url 'index' %}" class="navv-link public_chat_page">
              <i class="bx bx-broadcast public_chat_page" id="btn" href="{% url 'index' %}"></i>
              <span class="link-text">Public Chat</span>
            </a>
          </li>
    
          <li class="navv-item">
            <a href="{% url 'Signout' %}" class="navv-link">
              <i class="bx bxs-log-out" id="btn"></i>
              <span class="link-text">Logout</span>
            </a>
          </li>
    
        </ul>
      </nav>
    
      <main>
        
        <div id="content">
          {% block content %} {% endblock content %}
        </div>
        
      </main>
    {% else %}
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <b>
            <img src="https://static.vecteezy.com/system/resources/previews/022/103/078/non_2x/kids-icon-illustration-design-vector.jpg" alt="" class="rounded-circle" style="width: 30px; height: 30px;">
            <a class="navbar-brand" href="{% url 'Profile' 1 %}">Lirix</a>
          </b>
        </div>
      </nav>
      <style>
        body {
          background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCUmtd6iv_EaqQYoL9SBb-641zH9EkBSqcrA");
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
      </style>
    {% endif %}
    <div id="contenti">
      {% block contenti %} {% endblock contenti %}
    </div>
    <!-- <script src="main.js"></script> -->
    <script src="{% static 'Blog/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>